body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab47bc;
  color: black;
}
a {
  text-decoration:none;
  color:blue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
